<div class="container">
  <!-- Blog Post -->
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://umit.vn/wp-content/uploads/2017/07/tuyensinh-130310-01.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Hoạt động giáo dục hướng nghiệp</h2>
          <p class="card-text">Ở độ tuổi THPT hoạt động học tập – hướng nghiệp chi phối mạnh mẽ đến sự hình thành
             và phát triển nhân cách của các em và được thể hiện rõ qua xu hướng nghề nghiệp. Hoạt
              động hướng nghiêp là một nhiệm vụ quan trọng của nhà trường và phòng tham vấn học đường.  Chúng tôi sẽ tổ chức những chuyên đề về hoạt động hướng nghiệp riêng cho từng khối, nhằm giúp các em hiểu bản thân và cập nhật được tình hình nghề nghiệp hiện tại, để các em bắt kịp và hiểu rõ bản thân hơn. Từ đó chọn được đúng nghành nghề mà mình mong muốn trong tương lai và sự nghiệp phát triển của các em sau này</p>
            Tài liệu tham khảo:<br>
          <a href="http://pgdtralinh.edu.vn/Details.aspx?IDnews=0000000011">- http://pgdtralinh.edu.vn/Details.aspx?IDnews=0000000011</a><br>
          <a href="http://www.khxhnvnghean.gov.vn/m/?x=794/khxhnv-doi-song/thuc-trang-dinh-huong-nghe-nghiep-cua-hoc-sinh-thpt-tinh-nghe-an">- http://www.khxhnvnghean.gov.vn/m/?x=794/khxhnv-doi-song/thuc-trang-dinh-huong-nghe-nghiep-cua-hoc-sinh-thpt-tinh-nghe-an</a>
          
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://media.kenhtuyensinh.vn/images/2015/ha-tinh-san-sang-cho-ky-thi-thpt-quoc-gia.png"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Chuẩn bị tâm lý cho kỳ thi THPT Quốc Gia năm 2020-2021</h2>
          <p class="card-text">Kỳ thi THPT Quốc gia sẽ bắt đầu, việc ôn tập dồn bài tập, kiến thức đến gần ngày thi là chuyện thường gặp ở học sinh. Khi lượng kiến thức rất lớn dồn trong thời gian ngắn sẽ khiến các em suy nghĩ, tưởng tượng những viễn cảnh như: mình không đỗ thì sẽ như thế nào? Bạn bè, bố mẹ, người thân sẽ nhìn mình ra sao? Mọi người có suy nghĩ như thế nào về mình, nói gì mình không?…Các em không nên có những tưởng tượng, suy nghĩ tiêu cực, có thể dẫn tới ốm đau, không có kết quả tốt cho kỳ thi. Hãy biến những suy nghĩ đó thành cảm xúc tích cực, thúc đẩy quá trình học tốt hơn, nỗ lực hơn trong học tập. Tích cực trao đổi kiến thức với bạn bè, thầy cô để hệ thống lại kiến thức, ôn tập tốt cho kỳ thi sắp tới.</p>
          Tài liệu tham khảo: <br>
          <a href="https://tuyensinhtoanquoc.com/thong-tin-tuyen-sinh-2/chuan-bi-tam-ly-cho-ky-thi-thpt-quoc-gia/">https://tuyensinhtoanquoc.com/thong-tin-tuyen-sinh-2/chuan-bi-tam-ly-cho-ky-thi-thpt-quoc-gia/</a><br>
  
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://suckhoedoisong.vn/Images/nguyenkhanh/2018/09/14/dau_nam_hoc.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Tình trạng lo âu, stress, trầm cảm ở học sinh THPT hiện nay:</h2>
          <p class="card-text">Hiện tình trạng lo âu, stress, trầm cảm ơn học sinh đang ở mức bao động nghiêm trọng. nguyên nhân gây ra có thể ở ngoài gia đình và ngoài tầm kiểm soát của cha mẹ. Tuy nhiên, nhiều trẻ cảm thấy bị áp lực trong chính gia đình, chẳng hạn, cha mẹ kỳ vọng ở con cao quá khả năng của trẻ, bắt trẻ học quá nhiều. Sau giờ học ở trường cả ngày, trẻ còn phải đi học thêm nhiều môn khiến trẻ phải chạy hết chỗ học này đến chỗ học khác, không còn thời gian để thư giãn, vui đùa. Ngoài ra, đối với các học sinh cấp 3, có nhiều tình huống ở trường học gây lo lắng, căng thẳng cho trẻ. Thường gặp nhất là trẻ bị áp lực học tập, cha mẹ hoặc thầy cô, bạn bè chửi mắng, đánh đập, bị bạn từ chối chơi, do không làm được bài tập ở nhà, không được ăn mặc theo sở thích, thấy sự thay đổi trong cơ thể ở tuổi dậy thì, do thấp hơn các bạn đồng trang lứa, không hạp với thầy cô giáo, quá cân nặng so với bạn, chuyển nhà, chuyển trường… Những nguyên nhân trên có thể gây ra cho các em những vấn đề về tâm lý, sinh lý và những nét tâm lý xã hội.</p>
          Tài liệu tham khảo: <br>
          <a href="http://thieunien.vn/tin-tuc/bao-dong-tinh-trang-hoc-sinh-thpt-gap-stress-tram-cam-lo-au">- http://thieunien.vn/tin-tuc/bao-dong-tinh-trang-hoc-sinh-thpt-gap-stress-tram-cam-lo-au</a><br>
          <a href="https://tuyensinhso.vn/goc-sinh-vien/benh-tram-cam-o-hoc-sinh-bieu-hien-va-nguyen-nhan-gay-tram-cam-o-hoc-sinh-c45803.html">- https://tuyensinhso.vn/goc-sinh-vien/benh-tram-cam-o-hoc-sinh-bieu-hien-va-nguyen-nhan-gay-tram-cam-o-hoc-sinh-c45803.html</a>
        </div>
      </div>
      <div class="col-sm-6" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">4.	Bạo lực học đường ở THPT</h2>
          <p class="card-text">Bạo lực học đường là vấn đề ngày càng phổ biến và là mối bận tâm không chỉ của phụ huynh, của nhà trường mà là vấn nạn chung của ngành giáo dục hiện nay. Bạo lực xảy ra ở trong khuôn viên nhà trường lẫn ngoài xã hội, giữa học sinh với học sinh, giữa học sinh với giáo viên, giữa giáo viên với học sinh…Là một vấn nạn của tất cả mọi người, gây ra những ảnh hưởng tiêu cực về sức khỏe sinh lý, tâm lý và các mặt xã hội của người bị bạo lực. Chúng ta hãy cùng tìm hiểu và cùng đưa ra những giải pháp cho vấn nạn mà tất cả mọi người đang bận tâm.</p>
          Tài liệu tham khảo: <br>
          <a href="https://www.youtube.com/watch?v=2elkSXQCHYM">- https://www.youtube.com/watch?v=2elkSXQCHYM</a><br>
          <a href="http://www.thptso2tuyphuoc.edu.vn/bai-viet/van-de-bao-luc-hoc-duong-o-truong-thpt-hien-nay-nguyen-nhan-va-giai-phap">-	http://www.thptso2tuyphuoc.edu.vn/bai-viet/van-de-bao-luc-hoc-duong-o-truong-thpt-hien-nay-nguyen-nhan-va-giai-phap</a>
        </div>
      </div>
  
    

    </div>
  </div>
</div>
<style>
  .hinh{
    height: 250px;
    width: 450px;
    margin-left: 5%;
  }
  .title{
    height: 70px;
  }
</style>