<div class="container">
  <!-- Blog Post -->
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2020/06/tâm-lý-bất-ổn-thường-thấy-ở-trẻ-sharevn.org_-e1591952977152.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Tổn thương tâm lý</h2>
          <p class="card-text">Yêu thương – bao bọc quá, kỳ vọng và mong muốn nhiều quá từ cha mẹ đã vô tình bóp nghẹt
            tâm
            hồn con trẻ trong thế giới của riêng chúng</p>
          <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Sự tuân thủ và bắt nạt học đường</h2>
          <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về
            niềm
            tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn.</p>
          <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Sự tuân thủ và bắt nạt học đường</h2>
          <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về
            niềm
            tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn.</p>
          <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Sự tuân thủ và bắt nạt học đường</h2>
          <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về
            niềm
            tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn.</p>
          <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Sự tuân thủ và bắt nạt học đường</h2>
          <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về
            niềm
            tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn.</p>
          <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
        </div>
      </div>
      <div class="col-sm-4" style="width: 18rem;">
        <img class="card-img-top hinh"
          src="https://tuvantamly.com.vn/wp-content/uploads/2019/12/sự-tuân-thủ-và-bắt-nat-hoc-duong-tuvantamly.com_.vn_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title title">Sự tuân thủ và bắt nạt học đường</h2>
          <p class="card-text">Sự tuân thủ (conformity) là một dạng ảnh hưởng xã hội có liên quan tới sự thay đổi về
            niềm
            tin hoặc hành vi của một người để hòa nhập vào một nhóm tốt hơn.</p>
          <a href="#" class="btn btn-primary">Chi Tiết &rarr;</a>
        </div>
      </div>

    </div>
  </div>
</div>
<style>
  .hinh{
    height: 250px;
    width: 350px;
  }
  .title{
    height: 70px;
  }
</style>